.auth-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
}

.nav-login-logout {
  display: none;
  border:none;
}

.auth-banner-container {
  display: none;
}

.auth-form-container {
  width: 100%;
  color: #6C6C6C;
}

@media (min-width: 576px) {
  .auth-form-container {
    width: 480px;
  }

  .nav-login-logout {
    display: none;
    border: none;
  }
  
  .nav-login-logout a {
    display: none;
    border: none;
  }
}

@media (min-width: 768px) {
  .auth-form-container {
    width: 550px;
  }

  .nav-login-logout {
    display: none;
    border: none;
  }
  
  .nav-login-logout a {
    display: none;
    border: none;
  }
}

@media (min-width: 1200px) {
  .auth-container {
    padding: 40px;
  }

  .auth-form-container {
    width: 479px;
  }

  .auth-banner-container {
    width: 400px;
    display: flex;
    flex-direction: column;
    align-content: center;
    margin-top: 40px;
  }

  .auth-banner-container h1 {
    font-size: 40px;
    margin-left: 70px;
    letter-spacing: -0.015em;
    color: #FFFF;
    margin-bottom: 15px;
  }

  .auth-banner-container p {
    font-size: 28px;
    letter-spacing: -0.015em;
    color:  #F2F2F2;
    margin-bottom: 70px;
  }

  .auth-banner-container svg {
      width: 100%;
  } 

  .nav-login-logout {
    display: none;
    border: none;
  }
  
  .nav-login-logout a {
    display: none;
    border: none;
  }
}

@media (min-width: 1400px) {  
  
    .auth-banner-container {
      width: 650px;
    }
  
    .auth-banner-container h1 {
      font-size: 55px;      
      margin-bottom: 25px;
    }
  
    .auth-banner-container p {
      font-size: 24px;
    }

    .nav-login-logout {
      display: none;
      border: none;
    }
    
    .nav-login-logout a {
      display: none;
      border: none;
    }
  
  }
  